.admin-page-root
  display flex

  .admin-navigation-wrapper
    display: flex
    position: fixed
    height: 100%
    width: 250px

  .admin-home-wrapper
    width 100vw
    box-sizing: border-box
    padding-left: 250px