.c-add-news-button
  define-font(museo, (14/rfs)rem, #4a4a4a, 1.14, normal, (1/rfs)rem)
  color: #4a4a4a;
  background-color: sky
  height: (73/rfs)rem
  display: flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  cursor: pointer
  transition: 0.25s linear
  display: block
  width: 100%
  background: sky
  border: 0px
  user-select: none
  & :focus {outline:0;}

  &:hover
    background-color: blue
    color: white
