<div class="cd-radial-slider-wrapper">
  <ul class="cd-radial-slider" data-radius1="30" data-radius2="1600">
    <li class="visible">
      <div class="svg-wrapper">
        <svg class="js-slide-svg" viewBox="0 0 1400 800">
          <title></title>
          <defs>
            <clipPath id="cd-image-1">
              <circle id="cd-circle-1" cx="110" cy="698" r="1600" />
            </clipPath>
          </defs>

          <image width="100%" height="800px" clip-path="url(#cd-image-1)" xlink:href="/images/promo-slider/promo-slide-photo1.jpg"></image>
        </svg>
      </div> <!-- .svg-wrapper -->

      <div class="cd-radial-slider-content">
        <div class="wrapper">
          <div class="slide-text js-slide-text">

          </div>
        </div>
      </div> <!-- .cd-radial-slider-content -->
    </li>

    <li class="next-slide">
      <div class="svg-wrapper">
        <svg class="js-slide-svg" viewBox="0 0 1400 800">
          <title>Animated SVG</title>
          <defs>
            <clipPath id="cd-image-2">
              <circle id="cd-circle-2" cx="300" cy="698" r="30" style="display:none;" />
            </clipPath>
          </defs>

          <image width="100%" height="800px" clip-path="url(#cd-image-2)" xlink:href="/images/promo-slider/promo-slide-photo2.jpg"></image>
        </svg>
      </div> <!-- .svg-wrapper -->

      <div class="cd-radial-slider-content">
        <div class="wrapper">
          <div class="slide-text js-slide-text">
          </div>
        </div>
      </div> <!-- .cd-radial-slider-content -->
    </li>

    <li class="prev-slide">
      <div class="svg-wrapper">
        <svg class="js-slide-svg" viewBox="0 0 1400 800">
          <title>Animated SVG</title>
          <defs>
            <clipPath id="cd-image-4">
              <circle id="cd-circle-4" cx="110" cy="698" r="30" style="display: none;" />
            </clipPath>
          </defs>

          <image width="100%" height="800px" clip-path="url(#cd-image-4)" xlink:href="/images/promo-slider/promo-slide-photo3.jpg"></image>
        </svg>
      </div> <!-- .svg-wrapper -->

      <div class="cd-radial-slider-content">
        <div class="wrapper">
          <div class="slide-text js-slide-text">
          </div>
        </div>
      </div> <!-- .cd-radial-slider-content -->
    </li>
  </ul> <!-- .cd-radial-slider -->
</div> <!-- .cd-radial-slider-wrapper -->