.c-team-cards-list-root
  position: static
  padding: 0 (16/rfs)rem

  .team-cards-list-container
    margin-top: (25/rfs)rem
    clearfix()

    .c-team-member-card-root
      width: 100%
      margin-bottom: (40/rfs)rem

      .card-wrapper
        margin: 0 auto

        +below(826px)
          width: 50%

        +below(670px)
          width: 100%

        +below(520px)
          width: 100%