.c-home-page-root
  overflow-x: hidden

  .header-wrapper
    position: fixed
    width: 100%
    z-index: 360
    background-color: white

  .main-page-content-container
    padding-top: (32/rfs)rem
    padding-bottom: (44/rfs)rem
    position relative

    .socials-icons-container
      position absolute
      width (187/rfs)rem
      display flex
      justify-content space-between
      top (125/rfs)rem
      right calc((100vw - 71.8rem) / 2)
      z-index 359

      .social-icon:hover
        opacity 0.7
        transition 0.3s

  .news-wrapper
    background-color: #f2f9fb
    margin-top: (107/rfs)rem

  .about-wrapper
    margin-top: (20/rfs)rem

  .news-wrapper,
  .about-wrapper
    background-color: #f2f9fb

  .projects-wrapper
    margin-top: (127/rfs)rem
    position relative

  .how-it-works-wrapper
    margin-top: (57/rfs)rem

  .projects-types-wrapper
    margin-top: (125/rfs)rem

  .advantages-wrapper
    margin-top: (126/rfs)rem

  .team-wrapper
    margin-top: (127/rfs)rem

  .footer-navigation-wrapper
    margin-top: (7/rfs)rem
    margin-bottom: (37/rfs)rem

  .fixed-footer-wrapper
    position: fixed;
    bottom: 1vh
    right (71/rfs)rem
    z-index: 370

  &.is-plug
    .main-page-content-container
      padding-bottom: 0

    .news-wrapper
      margin-top: 0