.c-news-title
  define-container((1280/rfs)rem)
  position: relative
  padding: 0px (70/rfs)rem;
  box-sizing: border-box;

  .news-title-title
    define-font(museo, (50/rfs)rem, white, 1.28)
    margin-bottom: (10/rfs)rem
