//FONTS
mono = 'PT Mono', 'Lucida Console', Monaco, monospace
$mono = 'PT Mono', 'Lucida Console', Monaco, monospace
conqSans = 'Conqueror Sans'
$conqSans = 'Conqueror Sans'
roboto = 'Roboto'
museo = 'Museo Sans Cyrl'
rouble = 'PT Rouble Sans'

//ROOT FONT SIZE
rfs = 16
$rfs = 16
hrfs = 16
smrfs = 8
drfs = 32

//GRID VARIABLES
num-columns = 12
gutter = 1.409
gutteri23 = 2.127
guttero23 = 0

//SOME
tablet_max = 826px
mobile_max = 480px

//COLORS
white = #fff
$white = #fff
$black = #000
black = #000
gray = #9b9b9b
alto = #d9d9d9
middleGray = #7f7f7b
cornflower = #ddd
tundora = #4a4a4a
haze = #edefef
blueDark = #3aa7de
blueLight = #7ccdf2
lessBlueLight = #F2F9FB
sky = #f2f9fb
wildSand = #f5f5f5
gallery = #eaeaea
iron = #dde1e2
dim = rgba(0, 0, 0, 0.5)
blue = #1e9df2
aqua = #f2f9fb
biscay = #19395f
green = #7ed321
yellow = #ffc200
orange = #f59800
red = #f74300

$blue1 = #19395F
$lightBlue = #1e9df2
$gray = rgba(0, 0, 0, 0.3)
$dimBlack = #7F7F7F;
$green = #7ed321
$titleBlack = rgba(0, 0, 0, 0.87);

//OTHER
material-animation = cubic-bezier(0.25, 0.46, 0.45, 0.94)
easeInOutQuint = cubic-bezier(0.86, 0, 0.07, 1)

mobile_min = 0px
mobile_max = 768px
tablet_min = 767px
tablet_max = 1024px
desktop_min = 1023px
desktop_max = 9999rem

