.c-info-slider
  define-container((875/rfs)rem)
  display: block
  text-decoration: none
  cursor: pointer

  .info-img
    width (28/rfs)rem
    height (26/rfs)rem
    display block
    margin-bottom (13/rfs)rem

  .info-slider-text
    width (670/rfs)rem
    define-font(mono, (15/rfs)rem, black, 1.6, normal)
    white-space: normal
    margin 0px auto
    max-height (72/rfs)rem
    position relative
    overflow hidden

  .info-logo
    position relative
    text-align right
    margin-top (9/rfs)rem
    opacity 0.8

    img
      max-width (80/rfs)rem
      max-height (80/rfs)rem
