.c-projects-types-root
  define-container()
  margin-top: 40px
  margin-bottom (101/rfs)rem

  .descriptions
    width (753/rfs)rem
    define-font(mono, (18/rfs)rem, black, 1.67, normal)
    margin-top (70/rfs)rem
    margin-bottom (60/rfs)rem

  .types-list-projects
    display flex
    justify-content space-between

    .type
      width (310/rfs)rem

      .img-container
        height (135/rfs)rem
        position relative
        margin-bottom (35/rfs)rem
        img
          position absolute
          bottom 0px
          left 0px

      .title
        define-font(museo, (20/rfs)rem, black, 1.6, bold)
        text-transform uppercase
        margin-bottom (20/rfs)rem

      .type-text
        define-font(mono, (15/rfs)rem, black, 1.6, normal)
        text-align left
        opacity 0.8
        margin-bottom (20/rfs)rem
        height (170/rfs)rem

      .large-text
        define-font(mono, (34/rfs)rem, black, 0.94, bold)
        opacity 0.6
        margin-bottom (20/rfs)rem

        .currency
          define-font(rouble, (34/rfs)rem, black, 0.94, normal)

      .large-text-en
        font-size (30/rfs)rem

      .small-text
        define-font(museo, (14/rfs)rem, black, 2.29, normal)
        opacity 0.5